body{
    
    background-color: rgb(0, 0, 0)
}

header {
    background-color: rgba(36, 45, 46, 0.596);
    color: rgb(255, 255, 255);
    padding: 1rem;
    text-align: right;
}
.para1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: aliceblue;
    padding: 20px;
}
.heading{
    color: aliceblue;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.heading2{
    color: aliceblue;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: Verdana Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

section {
    padding: 2rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 2rem;
}

.project, .skill-item {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
    width: 30%;
    border-radius: 30px;
    text-align: center;
    background-color: rgba(240, 255, 255, 0.247);

}
.project, .skill-item1 {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    height: 40px;
    width: 200px;
    border-radius: 30px;
    text-align: center;
    background-color: rgba(240, 255, 255, 0.247);
}
.project, .skill-item2 {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    height: 40px;
    width: 200px;
    border-radius: 30px;
    text-align: center;
    background-color: rgba(255, 124, 1, 0.541);
}
.project, .skill-item3 {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    height: 40px;
    width: 200px;
    border-radius: 30px;
    text-align: center;
    background-color: rgba(13, 185, 247, 0.377);
}

.project, .skill-item4 {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    height: 40px;
    width: 200px;
    border-radius: 30px;
    text-align: center;
    background-color: rgba(240, 236, 10, 0.644)
}

.project, .skill-item5 {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    height: 40px;
    width: 200px;
    border-radius: 30px;
    text-align: center;
    background-color: rgba(87, 35, 146, 0.452)
}
.project, .skill-item6 {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    height: 40px;
    width: 200px;
    border-radius: 30px;
    text-align: center;
    background-color: rgba(3, 43, 3, 0.514)
}
.project, .skill-item7 {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    height: 40px;
    width: 200px;
    border-radius: 30px;
    text-align: center;
    background-color: rgba(2, 44, 28, 0.664)
}
.project, .skill-item8 {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(4, 46, 70)
}
.project, .skill-item9 {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(190, 13, 66, 0.774)
}
.project, .skill-item10 {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(36, 45, 46, 0.596)
}

.project, .skill-item11 {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
    height: 40px;
    width: 200px;
    border-radius: 30px;
    text-align: center;
    background-color: rgba(165, 155, 10, 0.712)
}

footer {
    background-color: #241b1ba9;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}